<div class="main-container">
<div class=" container">
 

<header role="banner" id="page-header">
      </header> 
  <div class="row">
    <section class="col-sm-12">
      
      
      <a id="main-content"></a>
       
                                                                                   <div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">

      
  <article id="node-1930" class="node node-page clearfix" about="/es/quienes-somos" typeof="foaf:Document">
    <header>
            <span property="dc:title" content="Quienes somos" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>      </header>
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded">



<div class="row">
<div class="col-md-10 col-md-offset-1">
<h1>
			<span style="color:#112f64;"><span style="font-size:22px;"><strong><span style="font-family:open sans;">¿QUIÉNES SOMOS?</span></strong></span></span></h1>
<p>
			&nbsp;</p>
<p>
			11 años fortaleciendo las capacidades gubernamentales para gestionar la migración de forma sostenible y humana.</p>
<p>
			El Programa Regional sobre Migración es implementado por la <a href="https://www.iom.int/es" target="_blank">Organización Internacional para las Migraciones</a> (OIM) con el financiamiento de la Oficina de Población, Refugiados y Migración (PRM) del Departamento de Estado de los Estados Unidos.</p>
</div>
</div>
<p>
	&nbsp;</p>
<div class="row">
<div class="col-md-10 col-md-offset-1">
<h2 class="page-title" style="font-size:32px">
			<span style="color:#112f64;"><strong><span style="font-size:22px;"><span style="font-family:open sans;">Nuestros 4 Pilares son:</span></span></strong></span></h2>
</div>
</div>
<p>
	&nbsp;</p>
<!-- *************************************************************** Inicio Tabs *********************** --><div class="container">
<div class="panel-group" id="accordion">
<div class="row">
<div class="col-md-4 col-md-offset-1">
<div class="panel panel-default" style="border-style: none;">
<div class="panel-heading">
<div class="row">
<div>
								<img alt="" class="iconoIzquierda" src="/sites/default/files/1._gobernanza.png"></div>
<div>
<div class="tituloPilares">
<h4>
										<span style="color:#112f64;"><span style="font-size:15px;"><strong><span style="font-family:open sans;">Gobernanza</span></strong></span></span></h4>
<h4>
										<span style="color:#112f64;"><span style="font-size:15px;"><strong><span style="font-family:open sans;">de la Migración</span></strong></span></span></h4>
</div>
<p>
									&nbsp;</p>
</div>
</div>
<p class="alinearderecha">
							<span style="font-family:open sans;"><a class="accordion-toggle accordion-icono" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" style="color: #000;"><span class="alinearVerMas">Ver más</span></a></span></p>
</div>
<div class="panel-collapse collapse" id="collapseOne">
<div class="panel-body">
<p>
								Apoyamos el diseño de políticas, normativas, estrategias y procedimientos para promover la migración regular en la región y la generación de datos e información, para la toma de decisiones y el diseño de políticas basadas en evidencia.</p>
</div>
</div>
</div>
</div>
<div class="col-md-4 col-md-offset-1">
<div class="panel panel-default" style="border-style: none;">
<div class="panel-heading">
<div class="row">
<div>
								<img alt="" class="iconoIzquierda" src="/sites/default/files/2._alianzas.png"></div>
<div>
<div class="tituloPilares">
<h4>
										<span style="color:#112f64;"><span style="font-size:15px;"><strong><span style="font-family:open sans;">Alianzas</span></strong></span></span></h4>
<h4>
										<span style="color:#112f64;"><span style="font-size:15px;"><strong><span style="font-family:open sans;">y Cooperación</span></strong></span></span></h4>
</div>
<p>
									&nbsp;</p>
</div>
</div>
<p class="alinearderecha">
							<span style="font-family:open sans;"><a class="accordion-toggle accordion-icono" data-parent="#accordion" data-toggle="collapse" href="#collapseDos" style="color: #000;"><span class="alinearVerMas">Ver más</span></a></span></p>
</div>
<div class="panel-collapse collapse" id="collapseDos">
<div class="panel-body">
<p>
								Fortalecemos la cooperación y diálogo regional, bilateral y local sobre migración.</p>
</div>
</div>
</div>
</div>
</div>
<!-- end row --><div class="row">
<div class="col-md-4 col-md-offset-1">
<div class="panel panel-default" style="border-style: none;">
<div class="panel-heading">
<div class="row">
<div>
								<img alt="" class="iconoIzquierda" src="/sites/default/files/3.emergencias.png"></div>
<div>
<div class="tituloPilares">
<h4>
										<span style="color:#112f64;"><span style="font-size:15px;"><strong><span style="font-family:open sans;">Emergencias y</span></strong></span></span></h4>
<h4>
										<span style="color:#112f64;"><span style="font-size:15px;"><strong><span style="font-family:open sans;">Crisis Migratorias</span></strong></span></span></h4>
</div>
<p>
									&nbsp;</p>
</div>
</div>
<p class="alinearderecha">
							<span style="font-family:open sans;"><a class="accordion-toggle accordion-icono" data-parent="#accordion" data-toggle="collapse" href="#collapseTres" style="color: #000;"><span class="alinearVerMas">Ver más</span></a></span></p>
</div>
<div class="panel-collapse collapse" id="collapseTres">
<div class="panel-body">
<p>
								Desarrollamos herramientas y capacidades para la preparación y respuesta a las dimensiones de movilidad humana de las crisis y emergencias.</p>
</div>
</div>
</div>
</div>
<div class="col-md-4 col-md-offset-1">
<div class="panel panel-default" style="border-style: none;">
<div class="panel-heading">
<div class="row">
<div>
								<img alt="" class="iconoIzquierda" src="/sites/default/files/4._comunicacion.png"></div>
<div>
<div class="tituloPilares">
<h4>
										<span style="color:#112f64;"><span style="font-size:15px;"><strong><span style="font-family:open sans;">Comunicación</span></strong></span></span></h4>
<h4>
										<span style="color:#112f64;"><span style="font-size:15px;"><strong><span style="font-family:open sans;">para el Desarrollo</span></strong></span></span></h4>
</div>
<p>
									&nbsp;</p>
</div>
</div>
<p class="alinearderecha">
							<span style="font-family:open sans;"><a class="accordion-toggle accordion-icono" data-parent="#accordion" data-toggle="collapse" href="#collapseCuatro" style="color: #000;"><span class="alinearVerMas">Ver más</span></a></span></p>
</div>
<div class="panel-collapse collapse" id="collapseCuatro">
<div class="panel-body">
<p class="pilares">
								Trabajamos en procesos de comunicación participativos y basados en evidencia por medio de la metodología de comunicación para el desarrollo, sobre la migración regular, así como los riesgos y las alternativas a la migración irregular. Fortalecemos herramientas, medios y canales de comunicación como las ventanillas informativas y la MigApp.</p>
</div>
</div>
</div>
</div>
</div>
<!-- end row --></div>
<!-- end pannel --></div>
<!-- end container --><!-- ************************************** finaliza Taps ******************************** --><!-- ************************************************* inicio paises **************************************** --><p>
	&nbsp;</p>
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<h2>
				<span style="color:#112f64;"><span style="font-family:open sans;"><strong><span style="font-size:22px;">¿Dónde trabajamos?</span></strong></span></span></h2>
</div>
</div>
<p>
		&nbsp;</p>
<p>
		&nbsp;</p>
<!-- ************************************************* inicio paises **************************************** --><div class="row">
<div class="col-md-10 col-md-offset-1">
<div class="row">
<div class="col-md-6 paisesColumn6">
<div class="paises">
						<img alt="" src="/sites/default/files/bahamas.png"><p></p>
<p>
							Las Bahamas</p>
</div>
<div class="paises">
						<img alt="" src="/sites/default/files/belice.png"><p></p>
<p>
							Belice</p>
</div>
<div class="paises">
						<img alt="" src="/sites/default/files/costa_rica.png"><p></p>
<p>
							Costa Rica</p>
</div>
</div>
<div class="col-md-6 paisesColumn6">
<div class="paises">
						<img alt="" src="/sites/default/files/dominica.png"><p></p>
<p>
							Dominica</p>
</div>
<div class="paises">
						<img alt="" src="/sites/default/files/elsalvador.png"><p></p>
<p>
							El Salvador</p>
</div>
<div class="paises">
						<img alt="" src="/sites/default/files/guatemala.png"><p></p>
<p>
							Guatemala</p>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-10 col-md-offset-1">
<div class="row">
<div class="col-md-6 paisesColumn6">
<div class="paises">
						<img alt="" src="/sites/default/files/guyana.png"><p></p>
<p>
							Guyana</p>
</div>
<div class="paises">
						<img alt="" src="/sites/default/files/haiti.png"><p></p>
<p>
							Haití</p>
</div>
<div class="paises">
						<img alt="" src="/sites/default/files/honduras.png"><p></p>
<p>
							Honduras</p>
</div>
</div>
<div class="col-md-6 paisesColumn6">
<div class="paises">
						<img alt="" src="/sites/default/files/mexico.png"><p></p>
<p>
							México</p>
</div>
<div class="paises">
						<img alt="" src="/sites/default/files/panama_flag_1.png"><p></p>
<p>
							Panamá</p>
</div>
<div class="paises">
						<img alt="" src="/sites/default/files/republicadominicana.png"><p></p>
<p>
							República Dominicana</p>
</div>
</div>
</div>
</div>
</div>
<!-- ************************************************* fin de paises **************************************** --></div>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<div class="row">
<div class="col-md-6 derecha" style="margin-bottom:10px;">
		<a href="/sites/default/files/brochure_fasexii_esp.pdf" target="_blank"><img alt="" src="/sites/default/files/hoja_informativa.png" style="width: 344px; height: 46px;"></a></div>
<div class="col-md-6 izquierda">
		<a href="https://www.programamesocaribe.iom.int/nuestro-trabajo"><img alt="" src="/sites/default/files/nuestro_trabajo.png" style="width: 338px; height: 46px;"></a></div>
</div>
</div></div></div>    </article>

</section>
  </div>
      
    </section>
    
  </div>
</div>
</div>